Composer\Util\Filesystem::normalizePath() behavior

The `Filesystem::normalizePath()` method contains a [RegExp that is supposed to capture the so-called "prefix"](https://github.com/composer/composer/blob/master/src/Composer/Util/Filesystem.php#L448) part of the passed resource string and store it away while path is processed.
However, the problem is that it doesn't capture many a variation of "prefix" as defined in the [[RFC 3986, Section 3](https://tools.ietf.org/html/rfc3986#section-3)] in regard to [`file:` URI scheme](https://tools.ietf.org/html/draft-ietf-appsawg-file-scheme-16).
Just to name a few: 
```
file://host/path
file:///path
file:/path
file:path
//host/path
/path
path
file://host/x:/path
file:///x:/path
file://x:/path (not valid, but widely accepted)
file:x:/path
x:/path
x:path
```
There was [a recently proposed improvement](https://github.com/composer/composer/pull/5962/files/7f063d76aa29d3970c5d635241f09b1ca153d921#diff-b2ebfe7e3b18fa67f2862fe94f244b4cR448), but… see for yourself.

URI                | Curr.Prefix | Curr.Path   | Prop.Prefix | Prop.Path
-------------------|-------------|-------------|-------------|----------
file://host/path    | file://         | host/path    | file://         | host/path   
file:///path        | file://         | /path        | file://         | /path       
file:/path          | file:           | /path        | file:           | /path       
file:path           | file:           | path         | file:           | path        
//host/path         |                 | //host/path  | //              | host/path   
/path               |                 | /path        |                 | /path       
path                |                 | path         |                 | path        
file://host/x:/path | file://         | host/x:/path | file://         | host/x:/path
file:///x:/path     | file://         | /x:/path     | file://         | /x:/path    
file://x:/path      | file://x:       | /path        | file://x:       | /path       
file:х:/path        | file:           | x:/path      | file:           | x:/path     
x:/path             | x:              | /path        | x:              | /path       
x:path              | x:              | path         | x:              | path        

The improvement is barely enough to pass normalization tests, but it will fail short, if you try to work with relative paths close enough to resource root.
```
1) Composer\Test\Util\FilesystemTest::testNormalizePath with data set #16 ('//windows/UNC/Name', '\\windows\path\..\..\UNC\Name')
Failed asserting that two strings are equal.
--- Expected
+++ Actual
@@ @@
-'//windows/UNC/Name'
+'//UNC/Name'
```

There's two ways to solve this issue, as I see it:

1. Keep complicating the RegExp. It is possible, aye, but least desirable for readability's sake. Not to mention [[RFC 3986, Section 3.1](https://tools.ietf.org/html/rfc3986#section-3.1)], which explicitly defines "scheme:" as `[a-z][\+\-\.0-9a-z]*:` (not `[0-9a-z]{2,}:` in the slightest).
2. Detect `protocol://host` prefixes early and reenter normalization call with them stripped.
2.1. Either deny malformed `scheme://x:/path` URI, or explicitly account for it.

I can provide either one. Thoughts?

I don't see what this has to do with your gripes about the relative paths that lead outside of the "root". The two issues are not the same. So why bring it up again here?

It's not gripes, it's a slightly relevant issue, that finally led me to realize the core problem of this particular function.
Since it's no longer directly relevant to the mentioned PR, I thought it would be easier to start a new discussion from clear point.

The only issue/difference I see in your table still is with UNC paths, and that was fixed in the other PR AFAIK?! @AnrDaemon if you want to get any progress on this you're gonna have to explain things better, i.e. what are you trying to achieve and what is not working. Don't just explain what you think is wrong with the code.

No, after a deeper analysis, it wasn't fixed with my PR, neither with your commit. The fact it fixed test results was purely because of broken function design and not enough test coverage to show it.
I'm preparing a new PR to fix some minor issues, then we can get to that question again.

Is this still relevant?

Yes it is, I didn't submit last patches. My RL got me dragged away. Sorry.

Auto-closing this as it's marked as support request and has not received any update in a long time.