HTTP auth header in composer.json repositiories with auth.json entry results in HTTP error 400

Hi

I have found a problem in composer considering basic authentication with a custom repository while having both, an `Authorization` header in the `composer.json` and `http-basic` in `auth.json`.

My `composer.json`:
(only relevant content)

```json
{
	"repositories": [
		{
			"type": "composer",
			"url": "https://xxx.yyy.zzz/",
			"options": {
				"http": {
					"header": [
						"Authorization: Basic xxxxxxxxxxxxxxxxxxxxxx"
					]
				}
			}
		}
	],
	"require": {
		"myvendor/my-package-from-repositories": "^1"
	},
}
```

My `auth.json` in `%appdata%\Roaming\Composer` (Windows 10):

```json
{
	"http-basic": {
		"xxx.yyy.zzz": {
			"username": "someusername",
			"password": "somepassword"
		}
	}
}

```

When I run this command:

```
composer update
```

I get the following output:

```
The 'https://xxx.yyy.zzz/packages.json' URL could not be accessed: HTTP/1.1 400 Bad Request
```

And I expected this to happen:

The `composer update` should do an update of packages or just terminate successfully.

I have debugged composer and found the reason for my error 400:

The local `composer.json` config is loaded and then `auth.json` from user home is merged into the config.
Then right before the HTTP request is sent, due to presence of the config option `http-basic` (set from `auth.json`), an additional `Authorization: Basic ...` header is added, resulting in 2 `Authorization` headers which results in an HTTP error 400.

I am perfectly aware that it is not documented and neither recommended to use `"options.http.header"` to set an Authorization, but that is not the point of this issue. I could set credentials using the URL format, but it would look nasty and some password characters would not work.
In my opinion, in the line [Composer/Util/RemoteFilesystem.php:842](https://github.com/composer/composer/blob/1.10.9/src/Composer/Util/RemoteFilesystem.php#L842), the *Authorization* header should not be added, but set and warn (and skip the `auth.json` value) or fail, if an *Authorization* header is already present in `$headers`.

Also i find it kind of unintuitive, that `auth.json` has the ability to overwrite Authorization. In my opinion, the values in `composer.json` should have precedence, as they are project-specific.

Thank you for taking time.
If you want, i can add a PR so it may be added in a future release.

Cheers and have fun!
🍻 


Additional info:

As stated in [RFC7230, Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2), multiple values should be comma-separated.

> A sender MUST NOT generate multiple header fields with the same field
> name in a message unless either the entire field value for that
> header field is defined as a comma-separated list [i.e., #(values)]
> or the header field is a well-known exception (as noted below).

This could be a solution to my problem, but at this moment, i have not testet, if the server would correctly parse it and accept the basic auth.

Feel free to send a PR. I rather disagree doing this is a great idea, but I agree that it should not break, so yes I suppose your suggestion of not adding an Authorization header if one is already present is an ok fix.

Closing as nobody seems to care to fix this.