Missing DNS "DS" records for packagist.org breaks DNSSEC validation for users

Users at our office have been reporting that they are unable to retrieve packages from packagist.org.  After investigating the problem, it seems that our DNSSEC validating servers are not returning A records (IP address) for packagist.org because the DNS DS record for packagist.org is missing.  Because zone signing is enabled for that domain, but the domain signature is missing (DS), DNSSEC validating DNS servers view the domain as broken and will not return IP addresses.  You can use the Sandia Labs tool, DNSViz, to verify the issue: https://dnsviz.net/d/packagist.org/dnssec/

There are two possible resolutions.  Either [1] disable DNSSEC for the domain entirely or [2] create a valid DS record for the domain.

(My apologies if this is the wrong forum to post this issue -- if it's not the right place, just point me in the right direction -- thank you!)

We've never had dnssec enabled because it causes more problems than it solves so I'm not sure what's up here but I'll investigate. 

The following warnings show for packagist.org on the dnsviz tool:

NSEC3 proving non-existence of packagist.org/DS: The salt value for an NSEC3 record should be empty. See RFC 9276, Sec. 3.1. (shows twice)
packagist.org/DS has warnings; select the "Denial of existence" DNSSEC option to see them.

But maybe they are a red herring; I'll look deeper on my end